@charset "utf-8";
.banner-desc{
    background-color: rgba(185, 184, 184, 0.3);
    font-size: 40px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;

}

.cart{
   margin-top: -16px;
    background-color: rgba(185, 184, 184, 0.3);

}

.cart-title{
    font-size: 50px;
    border-radius: 5px;
   padding-top: 150px;
    padding-left:625px;
    margin-top: 1rem;
    font-size: 30px;
    padding-bottom: 30px;

}


.fa-cart-plus{
    color: rgb(235, 171, 171);
    font-size: 100px;
    padding-left: 680px;
    margin-top: 4rem;
    margin-bottom: 6rem;
    
}
.cart-desc{
    padding-left:450px;
    margin-top: 1rem;
    font-size: 30px;

}
.shop{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;    
    font-size: 30px;    
    margin-left: 650px;
    margin-right: 400px;
    border-radius: 5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 5px;
    padding-bottom: 50px;
    display: flex;
    color: #000;o
    
}


/* intro ------------------------------------ */


.base-intro {
    background-image: url("../images/包裝背景圖.jpg");
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
    position: relative;
}

.base-intro::before {
    content: "";
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.base-intro .base-head,
.base-intro .base-foot {
    text-align: left;
}

.base-intro .base-title {
    letter-spacing: 0;
}

.base-intro .base-title-small,
.base-intro .base-title-primary {
    display: block;
}

.base-intro .base-title-small {
    color: #ccc;
    font-size: 2.5rem;
}

.base-intro .base-title-primary {
    color: #fff;
    font-size: 3.5rem;
    margin-top: .5rem;
}

.base-intro {
    color: #fff;
    border-color: #fff;
}

.intro-desc {
    color: #fff;
    line-height: 1.7;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
